<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <li class="menu-item"><a href="/artists">Artists</a></li>
      <li class="menu-item"><a href="/artist-new">New Artist</a></li>
      <li class="menu-item"><a href="/albums">Albums</a></li>
      <li class="menu-item"><a href="/new">New album</a></li>

    </nav>
    <h1>Records Store</h1>
    <%= yield %>
  </body>
</html>
