<h2 class="header">Edit <span style="color:#dd5252;"><%= @artist.name %></span></h2>

<form class="form" method="POST" action="/artists/<%= @artist.id %>">

    <div class="form-el">
        <label for="name">New Artist Name: </label>
        <input type="text" name="name" required id="name" value="<%= @artist.name %>"/>
    </div>

    <div class="form-el">
        <input type="submit"  value="Update Artist">
    </div>

</form>


  <form class="remove-artist"  method="POST" action="/artists/<%= @artist.id %>/delete">
    <input  class="input-button" type="submit" value="Remove Artist">
  </form>
